.section-title {
  padding-left: 10px;      /* ruang agar teks tidak mepet garis */
  border-left: 4px solid #ffda0b; /* garis aksen di kiri */
}


#box1 {
  width: 80%;
  margin:auto ;
  text-align: center;
  color: blue;
}
#box1 img{
  width: 75px
}
.section-title {
  color: rgb(35, 35, 168);
}
.mulai2 {
  color: grey;
}
.box2 {
  box-shadow: 5px 5px 10px grey;
  width: 80%;
  margin: auto;
  padding: 10px;
  margin-top: 5px;
  border-radius: 12px;
} 
.box3 {
  box-shadow: 5px 5px 10px grey;
  width: 80%;
  margin: auto;
  padding: 10PX;
  border-radius: 12px;
  margin-top: 10px;
}
.section-title {
  color: blue;
  
}
.inti {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid gray ;
}
.ganti {
  width: 80%;
  margin: auto;
  text-align: center;
}

#awal {
  width: 70%;
  margin: auto;
  text-align: center;
  color: blue;
}
.awal1 {
  color: gray;
}
#penting {
  width: 80%;
  margin: auto;
  border: 3px grey;
  box-shadow: 5px 5px 10px gray;
  border-radius: 20PX;
  padding: 10px;
}
.penting1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px gray;
}
#hobi {
  width: 80%;
  margin: auto;
  border: 3px gray;
  box-shadow: 5px 5px 10px gray;
  border-radius: 20px ;
  padding: 10px;
  margin-top: 30px;
}
#impian {
  box-shadow: 5px 5px 10px gray;
  width: 80%;
  border-radius: 12px;
  margin: auto;
  margin-top: 20px;
  padding: 12px;
}
.section-title {
  color: blue;
}
#kontak {
  box-shadow: 5px 5px 10px grey;
  width: 80%;
  border-radius: 12px;
  margin: auto;
  margin-top: 20px;
  padding: 12px;
}
.section-title {
  color: blue;
}
.kembali {
  width: 80%;
  text-align: center;
  margin: auto;
  border: 3px gray; 
}
